# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists
- Some of the commonly used libraries used by Data Scientists include
- simple arithmetic expression to mutiply then add integers

## Author
S. Fuller

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-Learn
4. Matplotlib
5. Seaborn

| Data Science Tools |
| -------------|
| Git |
| Gitlab |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200 / 60

3.3333333333333335